:root {
    --smoky-black: #131200ff;
    --mantis: #78bc61ff;
    --sage: #c0c781ff;
    --lion: #c59b76ff;
    --salmon: #e9806eff;
}

body {
    margin: 0;
}

.landing-page {
    margin: 0;
    padding: 0px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: var(--smoky-black);
}

.features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.feature {
    flex: 1;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cta-section {
    text-align: center;
}

.cta-section h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cta-section p {
    font-size: 16px;
    color: var(--smoky-black);
    margin-bottom: 30px;
}

.cta-button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: var(--mantis);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: var(--sage);
}

footer {
    text-align: center;
    margin-top: 40px;
}

footer p {
    font-size: 14px;
    color: var(--smoky-black);
}

#navbar {
    background-color: none;
    width: max-content;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: var(--smoky-black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

#navbar li a:hover {
    background-color: var(--mantis);
    color: white;
}

section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

#collab_img {
    flex: 1;
    max-width: 60%;
    height: auto;
    object-fit: cover;
}

#subtitle {
    flex: 1;
    font-size: 18px;
    color: var(--smoky-black);
    margin-left: 20px;
}

#img_text {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
    text-align: right;
    overflow: auto;
}